/*全局dl定义*/
.ui-crud-widget .ui-list .ui-list-body ul .ui-list-item .ui-list-column-label-createTime,.ui-crud-widget .ui-list .ui-list-body ul .ui-list-item .ui-list-column-label-lastUpdateTime, .ui-crud-widget .ui-list .ui-list-body ul .ui-list-item .ui-list-column-label-srcUserAlias, .ui-crud-widget .ui-list .ui-list-body ul .ui-list-item .ui-list-column-label-creatorAlias, .ui-crud-widget .ui-list .ui-list-body ul .ui-list-item ui-list-column-label-shortContent{
	display:none;
}
.ui-crud-widget .ui-list .ui-list-body ul .ui-list-item .ui-list-column-createTime, .ui-crud-widget .ui-list .ui-list-body ul .ui-list-item .ui-list-column-lastUpdateTime{
	float:right;
}

/*答疑室列表*/
.ui-rooms .ui-list .ui-list-body ul .ui-list-item{
	min-height:60px;
}
.ui-rooms .ui-list .ui-list-body ul .ui-list-item .ui-list-column-label-roomDescription,.ui-rooms .ui-list .ui-list-body ul .ui-list-item .ui-list-column-label-description, .ui-rooms .ui-list .ui-list-body ul .ui-list-item .ui-list-column-label-replyCount{
	display:none;
}
.ui-rooms .ui-list .ui-list-body ul .ui-list-item .ui-list-column-replyCount{
	float:left;
	margin-right:10px;
	padding:0 0.4em;
}
.ui-rooms .ui-widget-content .ui-crud-desc .ui-state-highlight{
	margin-top:5px;
}
.ui-rooms .ui-widget-content .ui-crud-desc .ui-state-highlight a{
	margin:0 10px;
}
/*答疑室界面*/
.ui-room .ui-search-box{
	overflow:hidden;
	margin-bottom:25px;
	padding:10px;
}
.ui-room .ui-search-box form{
	width:490px;
	margin:0 auto;
	overflow:hidden;
}
.ui-room .ui-search-box form fieldset{
	float:left;
	padding:0;
	margin-right:5px;
}
.ui-room .ui-search-box form fieldset input{
	padding:6px;
	margin-bottom:0;
}
.ui-room .ui-search-box form fieldset .ui-action-search{
	margin-left:-4px;
}
.ui-room .ui-room-question-list{
	overflow:hidden;
}
.ui-room .ui-room-question-list .ui-quick-navigator{
	float:right;
	width:200px;
}
.ui-room .ui-room-question-list .ui-quick-navigator li{
	padding:5px 10px;
}
.ui-room .ui-room-question-list .ui-quick-navigator li a{
	display:block;
}
.ui-room .ui-room-question-list .ui-quick-navigator .ui-my-reply-alert a em{
	margin-left:5px;
}
.ui-room .ui-room-question-list .ui-quick-navigator .ui-room-messageBoard{
	display:block;
	margin:10px;
	padding:5px;
}
.ui-room .ui-room-question-list .ui-questions{
	margin-right:220px;
}
.ui-room .ui-room-question-list .ui-questions .ui-widget-header{
	margin-bottom:5px;
}
.ui-room .ui-room-question-list .ui-questions .ui-list .ui-list-body ul .ui-list-item .ui-list-column-answerNum{
	float:left;
	margin-right:10px;
}
.ui-room .ui-room-question-list .ui-questions .ui-list .ui-list-body ul .ui-list-item .ui-list-column-label-shortContent,.ui-room .ui-room-question-list .ui-questions .ui-list .ui-list-body ul .ui-list-item .ui-list-column-label-tags{
	display:none;
}
/*问题界面*/
.ui-question-details .ui-container{
	overflow:hidden;
	margin-bottom:20px;
}
.ui-question-details .ui-question-details-left{
	padding:20px;
	margin-right:10px;
	position:relative;
}
.ui-question-details .ui-question-details-left>.ui-question-info{
	margin-bottom:30px;
	font-size:16px;
}
.ui-question-details .ui-question-details-left>.ui-question-info span{
	margin-right:10px;
}
.ui-question-details .ui-question-details-right{
	float:right;
	width:180px;
	padding:10px;
}
.ui-question-details .ui-question-details-right p{
	margin-bottom:5px;
}
.ui-question-details .ui-question-details-right+.ui-question-details-left{
	margin-right:210px;
}
.ui-question-details .ui-question-details-right .ui-question-remark + .ui-question-append{
	padding-top:10px;
	margin-top:10px;
}
.ui-question-details .ui-question-details-left .ui-question-action-bar{
	padding:10px 0 25px;
	overflow:hidden;
}
.ui-question-details .ui-question-details-left .ui-question-action-bar .ui-action-classic{
	float:right;
}
.ui-question-details .ui-question-details-left .ui-question-action-bar .ui-action-fav2lms,
.ui-question-details .ui-question-details-left .ui-question-action-bar .ui-action-shared{
	float:right;
	margin-left:5px;
}
.ui-question-details .ui-question-details-left .ui-question-answers .ui-count-info{
	font-size:16px;
	padding:5px 0;
	position:relative;
}
.ui-question-details .ui-question-details-left .ui-question-answers .ui-count-info a{
	position:absolute;
	top:5px;
	right:0;
}
.ui-question-details .ui-question-details-left .ui-answers .ui-list .ui-list-body ul .ui-list-item{
	padding:30px 0 20px 0;
}
.ui-question-details .ui-question-details-left .ui-answers .ui-list-item .ui-list-column-content>img{
	margin-bottom:10px;
}
.ui-question-details .ui-question-details-left .ui-answers .ui-list-item .ui-list-column-label-attachFileList,
.ui-question-details .ui-question-details-left .ui-answers .ui-list-item .ui-list-column-label-stuFile{
	display:none;
}
.ui-question-details .ui-question-details-left .ui-answers .ui-list-item .ui-list-column-attachFileList ul{
	overflow:hidden;
}
.ui-question-details .ui-question-details-left .ui-answers .ui-list-item .ui-list-column-attachFileList ul li{
	float:left;
	margin-right:15px;
}
.ui-question-details .ui-question-details-left .ui-answers .ui-list .ui-list-item>span,
.ui-question-details .ui-question-details-left .ui-answers .ui-list .ui-action-bar .ui-action-append{
	float:left;
}
.ui-question-details .ui-question-details-left .ui-question-answers .ui-reply-container{
	padding:10px;
	margin:10px 0;
}
.ui-question-details .ui-question-details-left .ui-question-answers .ui-reply-container .ui-reply-digest form{
	overflow:hidden;
	padding-bottom:10px;
}
.ui-question-details .ui-question-details-left .ui-question-answers .ui-reply-container .ui-reply-digest form .ui-action-submit{
	float:right;
}
.ui-reply-digest form .ui-input-words-counter .ui-reply-target .ui-target-clear{
	display:inline-block;
	width:16px;
	height:16px;
	zoom:0.8;
	text-indent:-100px;
	overflow:hidden;
}
.ui-reply-digest form .ui-input-words-counter .ui-reply-target .ui-target-clear:hover{
	zoom:0.9;
}
.ui-question-details .ui-question-details-left .ui-question-answers .ui-reply-container .ui-reply-digest li{
	text-align:right;
	padding:10px 0;
}
.ui-question-details .ui-question-details-left .ui-question-answers .ui-reply-container .ui-reply-digest li p{
	text-align:left;
}
.ui-question-details .ui-question-details-left .ui-question-answers .ui-reply-container .ui-reply-digest li p .ui-action-dialog{
	width:24px;
	height:24px;
	text-indent:-1000px;
	overflow:hidden;
	padding:0;
}	
.ui-question-details .ui-question-details-left .ui-question-answers .ui-reply-container .ui-reply-digest li .ui-time{
	display:block;
}
.ui-question-details .ui-question-details-left .ui-question-answer-form fieldset{
	padding:0;
	margin:0;
}
.ui-question-details .ui-question-details-left .ui-question-answer-form form textarea.ui-input{
	width:98%;
	max-width:98%;
	min-height:200px;
}
.ui-question-details .ui-question-details-left .ui-question-answer-form form .ui-field-t-file label{
	float:left;
	line-height:34px;
	margin-bottom:0;
}
.ui-question-details .ui-question-details-left .ui-question-answer-form form .ui-field-t-file .ui-upload-widget{
	margin-left:40px;
}
.ui-question-details .ui-question-details-left .ui-question-answer-form form .ui-form-operate-bar{
	margin-left:0;
}

/*查看对话*/
.ui-reply-dialog ul{
	overflow:hidden;
}
.ui-reply-dialog ul+li{
	overflow:hidden;
	padding:5px 0;
	margin-bottom:10px;
}
.ui-reply-dialog ul li .ui-dialog-target-head{
	float:left;
	text-align:center;
}
.ui-reply-dialog ul li .ui-dialog-self-head{
	float:right;
	text-align:center;
}
.ui-reply-dialog ul li .ui-dialog-self-head, .ui-reply-dialog ul li .ui-dialog-target-head{
	max-width:100px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ui-reply-dialog ul li .ui-user-digest-head{
	display:block;
	margin:0 auto;
}
.ui-reply-dialog ul li:first-child{
	overflow:hidden;
	margin-bottom:20px;
}
.ui-reply-dialog ul .ui-dialog-self, .ui-reply-dialog ul .ui-dialog-target{
	max-width:70%;
}
.ui-reply-dialog ul .ui-dialog-self{
	float:right;
	clear:both;
	text-align:right;
}
.ui-reply-dialog ul .ui-dialog-self p{
	text-align:left;
}
.ui-reply-dialog ul .ui-dialog-target{
	float:left;
	clear:both;
}
.ui-reply-dialog ul .ui-dialog-self p, .ui-reply-dialog ul .ui-dialog-target p{
	padding:5px;
}
/*提问界面*/
.ui-question-create .ui-container{
	margin-bottom:20px;
}
.ui-question-create .ui-question-parent{
	margin:20px 20px 0 20px;
	padding:10px;
}
.ui-question-create .ui-question-parent .ui-question-title a{
	display:block;
	text-align:right;
}
.ui-question-create .ui-question-edit-form{
	padding:0 20px;
}
.ui-question-edit-form>.ui-widget-header{
	position:relative;
	top:20px;
	margin-bottom:0;
}
.ui-question-edit-form .ui-form-style-li .ui-field-item .ui-field-label{
	display:none;
}
.ui-question-edit-form form{
	margin:0;
}
.ui-question-edit-form form .ui-input-words-counter .ui-input-words-counter-info{
	font-size:16px;
}
.ui-question-edit-form form .ui-input-words-counter textarea.ui-input{
	width:882px;
	max-width:882px;
	margin-bottom:0;
}
.ui-question-edit-form .ui-form-style-li .ui-field-t-textarea .ui-field-info{
	position:absolute;
	right:35px;
	margin:0;
	padding:5px 0;
}
.ui-question-edit-form form .ui-hide-content-bar{
	padding:4px 6px;
}
.ui-question-edit-form form .ui-hide-content-bar em{
	vertical-align:middle;
}
.ui-question-edit-form form .ui-field-t-bigRichText{
	margin-top:-1px;
}
.ui-question-edit-form form textarea.ui-big-rich-text{
	width:882px;
	max-width:882px;
	height:250px;
}	
.ui-question-edit-form form .ui-field-t-file, .ui-question-answer-form form .ui-field-t-file{
	margin-top:15px;
}
.ui-question-edit-form .ui-form-style-li .ui-field-file .ui-field-label,.ui-question-answer-form .ui-form-style-li .ui-field-file .ui-field-label{
	margin-bottom:0;
	display:block;
	float:left;
	line-height:34px;
}
.ui-question-edit-form .ui-form-style-li .ui-field-file .ui-upload-widget, .ui-question-answer-form .ui-form-style-li .ui-field-file .ui-upload-widget{
	line-height:34px;
	margin-left:40px;
}	
.ui-question-edit-form form .ui-form-operate-bar{
	display:none;
}
.ui-question-create .ui-questions{
	padding:0 20px 20px 20px;
}
.ui-question-create .ui-questions p{
	font-size:16px;
}
.ui-question-create .ui-container>.ui-action-bar{
	padding:0 20px 20px 20px;
}
.ui-question-parent .ui-question-answer .ui-answer-info span{
	margin-right:10px;
}
.ui-overlay-content{
	padding:30px;
	font-size:18px;
	line-height:2;
}
.ui-overlay-content p a{
	font-size:16px;
	margin-right:10px;
}
/*原问题信息*/
.ui-question-src,
.ui-question-parent{
	padding:10px;
	margin-bottom:10px;
}
.ui-question-src .ui-question-info span,
.ui-question-parent .ui-question-info span{
	margin-right:5px;
}
.ui-question-parent .ui-question-answer,
.ui-question-src .ui-question-answer{
	padding:10px;
	margin-top:10px;
}
.ui-question-content,
.ui-question-attach{
	font-size:16px;
}
.ui-question-image{
	margin:10px 0;
}
.ui-image-thumbs li a{
	display:block;
	line-height:1.5;
	font-size:14px;
	vertical-align:middle;
	word-break:break-all;
	overflow:hidden;
}
.ui-image-thumbs li .ui-audio,
.ui-image-thumbs li .ui-video{
	height:80px;
	text-indent:-1000px;
	overflow:hidden;
}
/*统计分析*/
#statistics_question .ui-search-box form .ui-field-startTime, #statistics_answer .ui-search-box form .ui-field-startTime, #statistics_question .ui-search-box form .ui-field-endTime, #statistics_answer .ui-search-box form .ui-field-endTime{
	width:300px;
}
/*全屏弹出样式*/
.ui-sshow-target .ui-sshow-toggle{
	right:0;
}
.ui-sshow .ui-content .ui-list-item{
	max-width:1024px;
	margin:0 auto;
	padding:10px 0;
}
.ui-sshow .ui-content .ui-list-item dd{
	margin-left:0;
}
.ui-sshow .ui-list-item dt{
	display:none;
}
.ui-sshow .ui-image-thumbs li{
	float:none;
	width:auto;
	height:auto;
	padding:0;
	margin-right:0;
	line-height:initial;
}
.ui-sshow .ui-image-thumbs li img{
	max-height:initial;
	vertical-align:middle;
}
.ui-sshow .ui-content .ui-list-item .ui-list-column-createTime{
	float:right;
}
/*音频播放器*/
.ui-audio-player{
	position:fixed;
	top:10px;
	right:20px;
	z-index:1000;
}
.ui-audio-player audio{
	max-width:300px;
	max-height:35px;
}