@CHARSET "UTF-8";
body{
	font-family:"宋体", tahoma,helvetica,arial,sans-serif;
	font-size:12px;	
	margin:0;
	background-color:#e0f3f8;
}
#ui-container{
	width:100%;
	font-size: 12px;
}
.ui-header{
	width:100%;
	height:36px;
	position: fixed;
	top:0;
	left:0;
	z-index:2;
	background-color: #4575B4;
	color:#FFFFFF;
	opacity:0.9;
	margin:0;
}
.ui-header .ui-topnav{
	width:90%;
	text-align:right;
	position:relative;
	margin:0 auto;
}
.ui-topnav .ui-logo img{
	float:left;
	margin:0;
	vertical-align:middle;
	padding:0;
}
.ui-topnav .ui-accounts{
	padding:10px 0;
}
.ui-header a{
	margin-left:10px;
	text-decoration:none;
	color:#FFFFFF;
}
.ui-header a:hover, .ui-header a:active{
	color: #fee090;
	text-decoration: none;
}

.ui-layout-column-4-1{
	width:90%;
	margin:36px auto 0;
	display: block;
}

.ui-layout-column-4-1 .ui-layout-left{
	display:block;
	width:15%;
	float:left;
	margin-top:20px;
	text-align:left;
	font-size:14px;
	}

.ui-layout-column-4-1 .ui-layout-left .ui-accordion-content{
	padding:0;
}
.ui-layout-column-4-1 .ui-layout-left .ui-accordion-content li a{
	font-size:12px;
	line-height:22px;
	padding:5px 0 5px 32px;
	display:block;
	margin-top:1px;
}
.ui-layout-column-4-1 .ui-layout-left .ui-accordion-content li a:hover{
	color:#74add1;
}
.ui-layout-column-4-1 .ui-layout-left .ui-accordion-content li a:active, .ui-layout-column-4-1 .ui-layout-left .ui-accordion-content li a.selected{
	background-color:#74add1;
	color:#FFFFFF;
}

.ui-layout-column-4-1 .ui-layout-right{
	display:block;
	width:84%;
	float:right;
	margin-top:20px;
	background-color:white;
	border:1px solid #CCCCCC;
	border-radius:3px;
	box-shadow:1px 1px 2px;
	-webkit-box-shadow:1px 1px 3px #999999;
	min-height:400px;
	text-align:left;
	}
.ui-layout-column-4-1 .ui-layout-right .ui-tabs{
	margin:10px 20px 45px;
}
.ui-dialog{
	font-size:14px;
}
.ui-footer{clear:both;text-align:center;padding:20px;color:#aaa;}
.ui-footer a{
	color:#4575b4;
	text-decoration:none;
}
.ui-footer a:hover, .ui-footer a:active{
	color:#74add1;
	text-decoration:none;
}

ul{padding:0;margin:0}
ul li{
	list-style:none;
}

.ui-list .ui-list-body .ui-list-item .ui-action-bar .ui-link-button.ui-action-attach{
	background-image:url('images/attach.png');
	background-repeat:no-repeat;
}

.ui-list .ui-list-body .ui-list-item .ui-action-bar .ui-link-button.ui-action-components{
	background-image:url('images/components.png');
	background-repeat:no-repeat;
}

.ui-list .ui-list-body .ui-list-item .ui-action-bar .ui-link-button.ui-action-audit{
	background-image:url('images/audit.png');
	background-repeat:no-repeat;
}
.ui-list .ui-list-body .ui-list-item .ui-action-bar .ui-link-button.ui-action-redraw{
	background-image:url('images/redraw.png');
	background-repeat:no-repeat;
}

.ui-list .ui-list-body .ui-list-item .ui-action-bar .ui-link-button.ui-action-change{
	background-image:url('images/change.png');
	background-repeat:no-repeat;
}

.ui-list .ui-list-body .ui-list-item .ui-action-bar .ui-link-button.ui-action-release{
	background-image:url('images/release.png');
	background-repeat:no-repeat;
}

.ui-question-title{
	font-size:14px;
}
.ui-question-options{
	width:100%;border:0;
	font-size:14px;
	line-height:18px;
}
.ui-question-options p{padding:0;margin:0;}
.ui-question-options td{padding:5px 0;}
.ui-question-options td.order{text-indent:20px;}
.ui-question-options tr.selected td.order{
	background-image:url('images/audit.png');
	background-repeat:no-repeat;
	background-position:0;
}